xcuserdata
/Pods/
.vscode/
.DS_Store
.idea/
DistributionSummary.plist
ExportOptions.plist
*.ipa
*.xcarchive
Packaging.log
build.sh
*.log

/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
.DS_Store
log.txt

.codebuddy
.codebuddyios/TXIoTDemo/trtcsdk/TXLiteAVSDK_Professional.framework/TXLiteAVSDK_Professional
ios/TXIoTDemo/trtcsdk/
android/txiotdemo/libs


# miniapp
plugin/**/*.js
!plugin/sdk/**
project.private.config.json
node_modules/
dist/
*.log
.DS_Store
